.block {
    width: 80px;
    height: 80px;
    border: 1px solid rgb(10, 10, 10);
    display: inline-block;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 25px;
}
.grid{
    position: fixed;
}
h1{
    color:rgb(218, 88, 18);
    }
body{
    background-color:rgb(222, 107, 166);
}
p{
    color:rgba(239, 106, 11, 0.918);
    font-size: 25px;
}
#scoreboard {
    float: right;
    margin-right: 30px;
    font-size: 30px;
}

#scoreboard table {
    border-collapse: collapse;
}

#scoreboard th{
    color:rgb(238, 48, 6) ;
    padding: 5px;
    text-align: center;
    border: 1px black;
}
#scoreboard td {
    padding: 5px;
    text-align: center;
    border: 1px black;
    color:rgb(238, 48, 6) ;
}

#videoContainer {
    display: none;
    float: right;
}
#videoContainer2 {
    display: none;
    float: right;
}
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

@keyframes playOnce {
    0% { opacity: 0; transform: scale(0.5); }
    100% { opacity: 1; transform: scale(1); }
}
   